
.form-control-borderless {
    border: none;
  }
  
  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  .Rectangle-buy-home{
    position: absolute;
    width: 500px;
    height: 300px;
    left:5%;
    top: -5%;
    
    background: #254D4D;
    border-radius: 5px;
    z-index: -1;
    }
    
  
  
  .Rectangle-top-left{
  position: absolute;
  width: 200px;
  height: 200px;
  left:5%;
  top: 8rem;
  
  background: #254D4D;
  border-radius: 5px;
  z-index: -1;
  }
  
  .Rectangle-bottom-right{
    position: absolute;
    width: 200px;
    height: 200px;
    right:5%;
    top: 70%;
    
    background: #254D4D;
    border-radius: 5px;
    z-index: -1;
  }
  
  
  .step-1{
    background-image: url('../images/step-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;padding-bottom: 2rem;
  }
  .step-2{
    background-image: url('../images/step-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;padding-bottom: 2rem;
  }
  .step-3{
    background-image: url('../images/step-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;padding-bottom: 2rem;
  }
  
  
  
  .Faq-style{
    background: #eef9f1;
    border: 1px solid #254d4d !important;
    cursor: pointer;
  }